<app-header></app-header>        

         <main style=" max-width: 100%; max-height: 104px; max-height: 100%;">

                <section id="carrossel" class="banner bnn1">
        
                    <div class="Ppg1">
                        <p>MONTE SEU SETUP GAMER</p>
                    </div>
                    <h4 class="Ppg2">
                        <p>TENHA SUA MELHOR EXPERIÊNCIA NOS E-SPORTES</p>
                    </h4>
                    <h3 class="btn1"><a href=""> MELHORES OFERTAS </a></h3>
        
        
        
                </section>


                <div id="PTC" class="row">
                
                    <div class="col-2" style="padding: 0 px;"><img src="assets\Img\ptc1.jpg" alt="3" class="ptc" /></div>
                    <div class="col-2" style="padding: 0 px;"><img src="assets\Img\ptc2.jpg" alt="3" class="ptc" /></div>
                    <div class="col-2" style="padding: 0 px;"><img src="assets\Img\ptc3.jpg" alt="3" class="ptc" /></div>
                    <div class="col-2" style="padding: 0 px;"><img src="assets\Img\ptc4.jpg" alt="4" class="ptc" /></div>
                    <div class="col-2" style="padding: 0 px;"><img src="assets\Img\ptc5.jpg" alt="5" class="ptc" /></div>
                
    
            </div>

            <section class="box2">
                <div class="titulobox">
                    <h3 class="titulotxt"> SMARTPHONES</h3>
                </div>
                <div class="grid2">
                    <div class="gb2"><img src="assets\Img\c1.jpg" alt="celular1">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
                    </div>
                    <div class="gb2"><img src="assets\Img\c2.jpg" alt="celular2">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
                    <div class="gb2"><img src="assets\Img\c3.jpg" alt="celular3">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
    
                </div>


            </section>

            <section class="box2">
                <div class="titulobox">
                    <h3 class="titulotxt"> HARDWARE</h3>
                </div>

                <div class="grid2">
                    <div class="gb2"><img src="assets\Img\peca1.jpg"  class="hov" alt="celular1">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
                    </div>
                    <div class="gb2"><img src="assets\Img\peca2.jpg" alt="celular2">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
                    <div class="gb2"><img src="assets\Img\peca3.jpg" alt="peça3">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
    
                </div>


            </section>



            <section class="box2">
                <div class="titulobox">
                    <h3 class="titulotxt"> GAMES</h3>
                </div>

                <div class="grid2">
                    <div class="gb2"><img src="assets\Img\g1.jpg" alt="celular1">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
                    </div>
                    <div class="gb2"><img src="assets\Img\g2.jpg" alt="celular2">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
                    <div class="gb2"><img src="assets\Img\g3.jpg" alt="celular3">
                        <label> R$ 1.079<br> Á vista com pix com 5%off ou<br> R$1.135,79
                            <br>em até 10x 113,60 no cartão</label>
    
                    </div>
    
                </div>

            </section>


            <div >
                <img src="assets\Img\fps.png" alt="celular3" class="fbs">
            
            </div>
            




        </main>
        <app-footer></app-footer>