footer{ background-color: black; bottom: 0px;}
.rodape{
    max-width: 100vw;
    height: 150px;
    display: flex;
    align-items:center;
    /* justify-content: space-between; */
    margin: 0 auto;
    background-color: black;
   
}

.logope{ width: 100px}

.informacoes{ 
    
    width: 400px; 
    display: grid;
    grid-template-columns: 2fr;
    
  
    /* background-color: azure; */
}

.icon2{ width: 25px; padding-right: 10px;}

.email{ display: flex; padding: 10px; font-size: 12px;}
.fone{ display: flex; padding: 10px; font-size: 12px;}

.midias{ width: 200px;}

.local10{ width: 400px;font-size: 12px;}
.local{ display: flex ;padding: 10px;font-size: 12px;}

.redesoc{ 
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
   
    
    
}



.icon3{width: 50px; padding-right: 20px; padding-top: 10px;}


.logop{width: 250px;}



.fft{ display: flex; }
.A{ width: 150px; 
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    
    background-color: brown;}


    .B{ width: 100px; 
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        
        background-color: rgb(1, 245, 103);}
    


@media (max-width:897px){ 


    .fft{display:none;
    
 
      
    
     

    }



    .CTrc{ display: none;}


    .RDSrc{ display: none;}

    .Locrc{ display: none;}


}


@media (max-width:600px){ }

@media (max-width:415px){



    .fft{display:flex;
  
        max-width: 100vw;
        justify-content: center;
    
     

    }



    .CTrc{ display: none;
    width: 100vw}


    .RDSrc{ display: none;}

    .Locrc{ display: none;}
 }


