<footer class="conateiner-fluid">
    <section class="logo">
        <div> <img src="assets\Img\logope.png" alt="logope" class="logope"></div>
    </section>

    <section class="contatos">
        <div>
            <h1 style="text-align: center;"> CONTATOS</h1>
            <div style="display:flex; align-items: center;">
                <img src="assets\Img\email.png" alt="email" class="icon2">
                <p style="margin-left:5px ;">startgame@gamemaia.com.br</p>

            </div>
        </div>


        <div>
            
            <div style="display:flex; align-items: center;">
                <img src="assets\Img\fone.png" alt="email" class="icon2">
                <p style="margin-left:5px ;">Telefone comercial (91) 32743530</p>

            </div>
        </div>

        <div>
            
            <div style="display:flex; align-items: center;">
                <img src="assets\Img\zap.png" alt="email" class="icon2">
                <p style="margin-left:5px ;">(91) 99999-9999</p>

            </div>
        </div>


    </section>

    <section class="Midias">

        <h1 style="text-align: center;">REDES SOCIAIS</h1>
        <div style="display: flex; justify-content: space-between;">
        <div >
            <div class="RDS">
                <img src="assets\Img\face.png" alt="face" class="icon3">
            </div>
        </div>


        <div>
            <div class="RDS">
                <img src="assets\Img\instagran.png" alt="instagran" class="icon3">
            </div>
        </div>


        <div>
            <div class="RDS">
                <img src="assets\Img\tweter.png" alt="tweter" class="icon3">
            </div>
        </div>


        <div>
            <div class="RDS">
                <img src="assets\Img\youtube.png" alt="youtube" class="icon3">
            </div>

            
        </div>

    </div>


    
    </section>


    <section class="local">

        <h1 style="text-align: center;">LOCALIZAÇÃO</h1>

        <div style="display: flex;">
            <div class="RDS">
                <img src="assets\Img\local.png" alt="local" class="icon3">
            </div>

            <p>Av. Presidente Vargas nº100<br> Centro Comercial - Cep:66098-300</p>
        </div>
        

    </section>

</footer>